<%# page_title "Is [website] cloudy?" %>

<% form_for @website do |f| %>
  <div>
    <%= flash_messages %>
  </div>
  <div>
    <%#= f.error_messages %>
  </div>
  <div>
    <%= f.text_field :url, :size => 20 %>
  </div>
  <div>
    <%= submit_tag "Submit" %>
  </div>
<% end %>
