<div id="answer">
  <% if @website.on_cloud? %>
    <h3 class="positive">Yes. It is.</h3>
  <% else %>
    <h3 class="negative">No. It is not.</h3>
  <% end %>
</div>

<div id="tryagain">
  <%= link_to "Try Again?", new_website_path %>
</div>
