html {
    font-family: "Helvetica Neue-Light", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    background: #ffffff;
    font-size: 12px;
    line-height: 1.2em;
    height: 100%;
}

html.response {
    background: #45b1dd url(/images/bg-slice.png) repeat-x;
}

body.positive {
    background: transparent url(/images/clouds.png) repeat;
}

body.negative {
}

body {
    height: 100%;
    margin: 0;
}
#page {
    height: 90%;
}

#container {
    width: 800px;
    margin: 0 auto;
    height: 100%;
}

#header {
    padding-top: 100px;
}

#wrapper {
    min-height: 100%;
}

#main {
    text-align: center;
}

#ask, #answer {
    padding-top: 100px;
}

#footer {
    text-align: center;
    height: 10%;
}

#question {
    color: #0099FF;
}

#answer, #another {
}

#another {
    padding-top: 30px;
}

#website_url {
    border: 0;
    border-bottom: 1px solid #C3C3C3;
}

#question {
    font-weight: 600;
}

#question h2 {
    font-size: 5em;
    display: inline-block;
    padding: 20px;
}

#question input {
    font-size: 2.7em;
    padding: 10px 0 0 0;
    width: 300px;
    height: 40px;
    text-align: center;
}

#submit {
    display: none;
}

#answer h3 { 
    display: inline; 
    padding: 5px;
}
#answer h3.main {
    font-size: 7em;
}

#answer h3.rest {
    font-size: 2em;
}

#about h2, #contact h2 {
    font-size: 2.7em;
}

#about p {
    text-align: left;
}

div.flash {
    font-size: 1.3em;
}

div.info {
    color: #6CA870;
}

div.notice {
   color: #F88017;
}

div.error {
    color: #E42217;
}

#contact {
    width: 480px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#contact label {
    width: 70px;
    float: left;
    font-size: 1.4em;
    text-align: right;
    margin-right: 12px;
}

#contact input, #contact textarea {
    padding: 5px;
    width: 385px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #C3C3C3;
}

#contact input:focus, #contact textarea:focus {
    border: 1px solid #0099FF;
}

#contact textarea {
    height: 400px;
}

#contact input.submit {
    float: right;
    width: 150px;
}


p, a, label, textarea {
    font-size: 1.3em;
    line-height: 1.5em;
}

a { 
    color: #000000;
}

.fieldWithErrors { display: inline; }
.clear { clear: both; }
