html {
    font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
    background: #ffffff;
    font-size: 12px;
    line-height: 1.2em;
    height: 100%;
}

body {
    height: 90%;
}

#container {
    width: 800px;
    margin: 0 auto;
    height: 100%;
}

#header {
    padding-top: 200px;
}

#wrapper {
    min-height: 100%;
}

#main {
}

#footer {
    text-align: center;
    height: 10%;
}

#question {
    text-align: center;
    color: #0099FF;
}

#answer, #tryagain {
    text-align: center;
}

#tryagain {
    padding-top: 30px;
}

#website_url {
    border: 0;
    border-bottom: 1px solid #c3c3c3;
}

#question h2 {
    font-size: 5em;
    display: inline-block;
    padding: 20px;
}

#question input {
    font-size: 2.5em;
    padding: 10px 0 0 0;
    width: 300px;
    height: 40px;
    text-align: center;
}

#submit {
    display: none;
}

.fieldWithErrors { display: inline; }
