html {
    font-family: "Helvetica Neue-Light", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    background: #ffffff;
    font-size: 12px;
    line-height: 1.2em;
    height: 100%;
}

body {
    height: 90%;
}

#container {
    width: 800px;
    margin: 0 auto;
    height: 100%;
}

#header {
    padding-top: 200px;
}

#wrapper {
    min-height: 100%;
}

#main {
}

#footer {
    text-align: center;
    height: 10%;
}

#question {
    text-align: center;
    color: #0099FF;
}

#answer, #another {
    text-align: center;
}

#another {
    padding-top: 30px;
}

#website_url {
    border: 0;
    border-bottom: 1px solid #c3c3c3;
}

#question {
    font-weight: 600;
}

#question h2 {
    font-size: 5em;
    display: inline-block;
    padding: 20px;
}

#question input {
    font-size: 2.7em;
    padding: 10px 0 0 0;
    width: 300px;
    height: 40px;
    text-align: center;
}

#submit {
    display: none;
}

#answer h3 { 
    display: inline; 
    padding: 5px;
}
#answer h3.main {
    font-size: 7em;
}

#answer h3.rest {
    font-size: 2em;
}

html.positive {
    background-color: #A5FF8A;
}

html.negative {
    background-color: #FFBBBB;
}

#about h2 {
    text-align: center;
}

.fieldWithErrors { display: inline; }
